<mat-toolbar color="primary">
  <span>
    Beefstar
  </span>

  <span class="space-buttons"></span>
  <button *ngIf="! isLoggedIn()" routerLink="/login" mat-raised-button color="primary">Login</button>

  <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button color="warn">Logout</button>
</mat-toolbar>

<div class="container" style="border-top: 3px solid white; ">
  <mat-toolbar color="primary" *ngIf="isLoggedIn()">
    <div class="container">
      <button mat-raised-button color="primary" routerLink="/home">Home</button>
      <button *ngIf="! isUser()" mat-raised-button color="primary" routerLink="/product/add">Add new product</button>
      <button *ngIf="! isUser()" mat-raised-button color="primary" routerLink="product/all/details">Show Product Details</button>
    </div>
  </mat-toolbar>
</div>


