<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <div class="card image-container p-3">
                <img [src]="product.productImages[selectedProductIndex].url" class="product-zoom-image">
            </div>
            <div class="mt-2">
                <mat-grid-list cols="4" gutterSize="10" rowHeight="1:1">
                    <mat-grid-tile *ngFor="let file of product?.productImages; let i = index;"(click)="changeIndex(i)"  style="border: 1px solid black; cursor: pointer;">
                        <img [src]="file.url" height="100px" >
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
          
        </div>
        <div class="col-6">
            <div class="product-information">
                <div class="mt-4">
                   <h1  style="font-weight: bold;">{{product.productName}}</h1> 
                </div>
                <div class="mt-4">
                    {{product.productDescription}}
                </div>
                <div class="mt-5">
                    <b>$ {{product.productActualPrice}}</b>
                </div>
                <div class="mt-5 text-center">
                    <button mat-raised-button color="warn" style="width: 300px;" (click)="buyProduct(product.productId)">Buy now</button>
                </div>
            </div>
        </div>
    </div>
</div>