<div class="container mt-5">
    <mat-grid-list cols="4" rowHeight="2:3" gutterSize="10">
    <mat-grid-tile *ngFor="let p of productDetails">
        <div class="row p-1">
         <div class="image-container">
            <img class="home-page-product-image" [src]="p.productImages[0].url" alt="">
         </div>
         <div class="mt-1">
            <p class="product-name" color="primary" >{{p.productName}}</p>
         </div>

         <div class="mt-1">
            <p class="product-name" color="primary">{{p.productActualPrice}} zł</p>
            <p color="primary" style="text-align: center;">{{p.productDescription}} </p>
         </div>
         
         <div class="mt-2">
            <button type="button" mat-raised-button  color="warn">Szczegóły</button>
         </div>
        </div>
    
    </mat-grid-tile>
  </mat-grid-list>
  </div>